# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

# CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL = 'http://localhost:8080/'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

# database.default.hostname = 127.0.0.1
# database.default.database = ci4-rbac
# database.default.username = postgres
# database.default.password = 
# database.default.DBDriver = Postgre
# database.default.port     = 5432
# database.default.charset  = utf8

#--------------------------------------------------------------------
# REST API
#--------------------------------------------------------------------

# JWT_TIME_TO_LIVE =
# JWT_SECRET_KEY =

#--------------------------------------------------------------------
# CLOUDINARY CONFIG
# =================
# More Info: 
# 1. https://github.com/cloudinary-devs/php-sdk-quickstart
# 2. https://cloudinary.com/documentation/transformation_reference
#--------------------------------------------------------------------

# cloudinary.cloud_name =
# cloudinary.api_key =
# cloudinary.api_secret =
# cloudinary.api_url =

#--------------------------------------------------------------------
# CACHE CONFIGURATION
# ===================
# Cache handler is automatically set based on environment:
# - Production: Redis
# - Development: File
# Configure Redis connection settings below for production use
#--------------------------------------------------------------------

# cache.redis.host = 127.0.0.1
# cache.redis.password = null
# cache.redis.port = 6379
# cache.redis.timeout = 0
# cache.redis.database = 0


#--------------------------------------------------------------------
# SESSION (Redis)
#--------------------------------------------------------------------
# app.sessionDriver = 'CodeIgniter\Session\Handlers\RedisHandler'
# app.sessionSavePath = 'tcp://127.0.0.1:6379?auth=password&database=0'

#--------------------------------------------------------------------
# DATABASE QUERIES CACHE
#--------------------------------------------------------------------
# database.default.DBDebug = true
# database.default.cacheOn = true
# database.default.cacheDir = ''
